services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: classinews-app
    ports:
      - "8000:5000"
    volumes:
      - ./prediction_history.json:/app/prediction_history.json
      - ./templates:/app/templates
      - ./static:/app/static
    environment:
      - FLASK_ENV=production
      - FLASK_APP=app.py
    restart: unless-stopped
